.deckOfCards img {
    animation-duration: .3s;
    animation-iteration-count: 2;
}

.three img, 
.single img {
    animation-duration: .5s;
}

.three img:nth-child(2){
    animation-delay: .5s;
}
.three img:nth-child(3){
    animation-delay: 1s;
}
