.deckOfCards img {
    animation-duration: .3s;
    animation-iteration-count: 2;
}

.triple img, 
.single img {
    animation-duration: .5s;
}

.triple img:nth-child(2){
    animation-delay: .5s;
}
.triple img:nth-child(3){
    animation-delay: 1s;
}

.cardDescription {
    animation-duration: 3s;
}
