.cardDescription, .cardDescription3 {
    background: $secondary;
    color: $mainGrey;
    padding: 1rem;
    margin: 0 auto;
    width: 250px;
    border-radius: 20px;
    position: absolute; 
    top: 0; 
    right: 0;

    h3 {
        margin: 0 auto;
        text-transform: uppercase;  
        text-align: center;
        font-family: 'Bree Serif', serif;        
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    p {
        margin: 0 auto;
        text-align: left;
        padding-bottom: 2rem;
    }
}

