

.cardDescription, .cardDescription3 {
    background: $secondary;
    color: $mainGrey;
    padding: 1rem;
    margin: 0 auto;
    flex-basis: 30%;
    // width: 250px;
    border-radius: 20px;

    h3 {
        margin: 0 auto;
        text-transform: uppercase;  
        font-family: 'Bree Serif', serif;        
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    p {
        margin: 0 auto;
        text-align: left;
        padding-bottom: 2rem;
        text-transform: lowercase;
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
    }
}

