
.wrapper {
    margin: 0 auto; 
    max-width: 1280px;
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
}


header {
    text-align: center;
    background: #c3bbcc;
    color: #3e4149;
    margin: 0 auto;

    h1 {
        margin: 0 auto; 
        padding: 0 3rem; 
        text-transform: uppercase;
        font-family: 'Pacifico', cursive;
        font-size: 3rem;
        font-weight: bold;
    }

}

h4 {
    font-family: 'Muli', sans-serif;
    color: #e5dada;
}

.welcome {
    background: rgba(62,65,73, .5);
}

input {
    margin: 0 auto;
    background: rgb(62,65,73);
    border: 0px; 
    padding: 1rem 2rem;
}



.cardArea {
    position: relative;
    margin: 0 auto;
    display: flex;
}
 
.cardDescription {
    background: #3e4149;
    padding: 2rem;
    margin: 0;
    height: 200px;
    width: 200px;
    border-radius: 13%;
    position: absolute; 
    top: 0; 
    right: 0;

    h3 {
        margin: 0 auto;
        text-transform: uppercase;
    }

    p {
        margin: 0 auto;
    }
}

.deckOfCards {
    
}

.deckOfCards img, 
.three img,
.threeCardsImg, 
.single img {
    border-radius: 50px;
    width: 80%;
}

.single {
    position: absolute; 
    left: 0;
}

.three {
    display: flex;
    flex-direction: row;
    position: absolute; 
    left: 0;
    width: 75%;

    img:nth-child(n+2) {
        margin-left: 20px;
    }
}


.deckOfCards img { // these are the box shadows for the "deck" of cards styling
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15),
                2px 2px 0 0px #FCA311,
                3px 3px 1px 0px rgba(0,0,0,0.15),
                4px 4px 0 0px #FCA311,
                5px 5px 1px 0px rgba(0,0,0,0.15),
                6px 6px 0 0px #FCA311,
                7px 7px 1px 0px rgba(0,0,0,0.15),
                8px 8px 0 0px #FCA311,
                9px 9px 1px 0px rgba(0,0,0,0.15),
                10px 10px 0 0px #FCA311;
}



.hide {
    display: none;
}