
.wrapper {
    margin: 0 auto; 
    max-width: 1280px;
    width: 80%;
    display: flex;
    flex-direction: column;
    background: $mainDark;
}

main, header, footer {
    background: $mainDark;
}

header {
    text-align: center;
    margin: 0 auto;
    border-radius: 18px;

    h1 {
        color: #c3bbcc;
        margin: 0 auto; 
        padding: 0 0rem; 
        text-transform: capitalize;
        font-family: 'Lobster', cursive;
        font-size: 8rem;
        font-weight: bold;
        text-shadow: 4px 4px #3e4149;
    }
}

h2 {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    color: $mainLight;
    font-size: 1.4rem;
}

.cardArea {
    position: relative;
    margin: 0 auto;
    display: flex;
    padding: 2rem 10rem 5rem 10rem;
}
 
.deckOfCards img, 
.triple img,
.single img {
    border-radius: 50px;
    width: 70%;
}


.single {
    z-index: 10;
    position: absolute;
}

.triple {
    display: flex;
    flex-direction: row;
    position: absolute; 
    width: 65%;

    img:nth-child(n+2) {
        margin-left: 20px;
    }
}


.deckOfCards img { // these are the box shadows for the "deck" of cards styling
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15),
                2px 2px 0 0px #FCA311,
                3px 3px 1px 0px rgba(0,0,0,0.15),
                4px 4px 0 0px #FCA311,
                5px 5px 1px 0px rgba(0,0,0,0.15),
                6px 6px 0 0px #FCA311,
                7px 7px 1px 0px rgba(0,0,0,0.15),
                8px 8px 0 0px #FCA311,
                9px 9px 1px 0px rgba(0,0,0,0.15),
                10px 10px 0 0px #FCA311;
} 

.hide {
    display: none;
}

footer p {
    margin: 0 auto; 
    padding: 0;
}