article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

body {
  height: 100vh;
  background: url(../assets/untitled.svg), left repeat;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #230b3b;
}

main, header, footer {
  background: #230b3b;
}

header {
  text-align: center;
  margin: 0 auto;
  border-radius: 18px;
}

header h1 {
  color: #c3bbcc;
  margin: 0 auto;
  padding: 0 0rem;
  text-transform: capitalize;
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  font-weight: bold;
  text-shadow: 4px 4px #3e4149;
}

h2 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  color: #e5dada;
  font-size: 1.6rem;
}

.cardArea {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 10rem 2rem 10rem;
}

.deckOfCards img,
.triple img,
.single img {
  border-radius: 50px;
  width: 70%;
}

.single {
  z-index: 10;
  position: absolute;
}

.triple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  width: 75%;
}

.triple img:nth-child(n+2) {
  margin-left: 35px;
}

.cardDescription3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cardDescription3 .first,
.cardDescription3 .second,
.cardDescription3 .third {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.deckOfCards img {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15), 2px 2px 0 0px #FCA311, 3px 3px 1px 0px rgba(0, 0, 0, 0.15), 4px 4px 0 0px #FCA311, 5px 5px 1px 0px rgba(0, 0, 0, 0.15), 6px 6px 0 0px #FCA311, 7px 7px 1px 0px rgba(0, 0, 0, 0.15), 8px 8px 0 0px #FCA311, 9px 9px 1px 0px rgba(0, 0, 0, 0.15), 10px 10px 0 0px #FCA311;
          box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15), 2px 2px 0 0px #FCA311, 3px 3px 1px 0px rgba(0, 0, 0, 0.15), 4px 4px 0 0px #FCA311, 5px 5px 1px 0px rgba(0, 0, 0, 0.15), 6px 6px 0 0px #FCA311, 7px 7px 1px 0px rgba(0, 0, 0, 0.15), 8px 8px 0 0px #FCA311, 9px 9px 1px 0px rgba(0, 0, 0, 0.15), 10px 10px 0 0px #FCA311;
}

.hide {
  display: none;
}

footer p {
  margin: 0 auto;
  padding: 0;
  color: #c3bbcc;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
  width: 80%;
  margin: 0 auto;
}

button {
  display: block;
  border: 2px solid #3e4149;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #230b3b;
  color: #fca311;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: background 300ms ease-in-out,  all 300ms ease-in-out,  -webkit-transform 150ms ease;
  transition: background 300ms ease-in-out,  all 300ms ease-in-out,  -webkit-transform 150ms ease;
  transition: background 300ms ease-in-out,  transform 150ms ease,  all 300ms ease-in-out;
  transition: background 300ms ease-in-out,  transform 150ms ease,  all 300ms ease-in-out,  -webkit-transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: 5px 5px 0px #3e4149;
          box-shadow: 5px 5px 0px #3e4149;
}

button:hover,
button:focus {
  background: #fca311;
  color: #3e4149;
  border: 2px solid #fca311;
  -webkit-box-shadow: 0px 0px;
          box-shadow: 0px 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

button:focus {
  outline: 1px solid #fff;
}

button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.grow {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.grow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.deckOfCards img {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.triple img,
.single img {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.triple img:nth-child(2) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.triple img:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.cardDescription {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.cardDescription, .cardDescription3 {
  background: #c3bbcc;
  color: #3e4149;
  padding: 1rem;
  margin: 0 auto;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  border-radius: 20px;
  text-align: center;
}

.cardDescription h3, .cardDescription3 h3 {
  margin: 0 auto;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.cardDescription p, .cardDescription3 p {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
  text-transform: lowercase;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

.cardDescription {
  width: 50%;
}

.cardDescription3 {
  width: 100%;
  margin-top: 5rem;
}

.second {
  padding: 0 1.5rem;
}
/*# sourceMappingURL=style.css.map */